*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center

    

}
main{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.537);
    
}
 main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    
    
}

form input{
    font-size: 1.5rem;
    border-radius: 5px;
    padding-left: 5px;
    
}

form #btSub{
    font-size: 1.8rem;
    border-radius: 5px;
    
   
}